body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #373C3F;
    
}
@keyframes fadIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.navbar {
    position:absolute;
    opacity: 1;
    background-color: #373C3F;
    border-radius: 25px;
    height:40px;
    display: flex;
    overflow: hidden;
    margin: 25px 100px;
    animation: fadOut;
    animation-duration: 0.2s;
    animation-play-state: paused;
    z-index:13;
}
.language {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0%;
    right: 0%;
    animation: fadOut;
    animation-duration: 0.2s;
    animation-play-state: paused;
}
@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        
    }
}
#reset {
    position: absolute;
    /* display: inline-block; */
    left: 50%;
    right:48%;
    top:70%;
    /* bottom:auto; */
    /* margin: auto; */
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0;
    border: none;
    background: none;
    font-family: 'Courier New', Courier, monospace;
    color: #dad9d8;
    font-size: 23px;
    z-index: 12;
    /* transition: transform 0.3s ease; */

}
#reset:hover{
    color: rgb(82, 82, 82);
}
#WPM {
    opacity: 0;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #dad9d8;
    font-size: 40px;

}
#typer {
    position:absolute;
    width: 3px;
    height: 25px;
    left: 470px;
    justify-content: center;
    background-color: white;
    opacity: 1;
    transition: all 22ms ease;
    z-index:12;
        
}
.animation {
    animation: flickerAnimation;
    animation-duration: 0.8s;
    animation-iteration-count:  infinite;
}
.language  {
    font-size: 20px;
    font-family: monospace;
    color: #dad9d8;
    z-index:12;
}
#timer {
    opacity: 0;
    font-family: monospace;
    font-size: 23px;
    color: #dad9d8;
    top: 340px;
    left: 460px; 
    position: absolute;
    justify-content: center;
    animation: fadIn;
    animation-duration: 0.2s;
    animation-play-state: paused;
    z-index:12;

}
.navbar a {
    display: block;
    color: #FFFFFF;
    padding: 13px 20px;
    text-decoration: none;
    z-index:12;
}
.navbar .logo {
    display: block;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
footer{
    display: flex;
    height: 45px;
    left: 30%;
    right: 30%;
    justify-content:center;
    background-color: #373C3F;
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
    z-index: 12;
}
footer #highlight {
    border-radius: 5px;
    color: rgb(26, 25, 25);
    background-color:#dad9d8;
    z-index: 12;

}
footer p {
    font-family: monospace;
    font-size: 14px;
    color: #dad9d8;
    padding: 2px;
    margin-left:2px;
    margin-right: 3px;
    margin-bottom: 10px;
    z-index: 12;

}

#icons {
    margin-top: 3px;
    scale: 2px;
}
#icons i:hover {    
    color: rgb(82, 82, 82);
}
#hidden-text-bottom {
    width:  100%;
    top:80%;
    left:50%;
    right: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 420px;
    z-index:9;
}
#hidden-text-bottom::after {
    position: absolute;
    content: "";
    left:0px;
    top:0px;
    height:100%;
    width:100%;
    background: linear-gradient(transparent, #373C3F 25%);
    pointer-events:none;
}
#hidden-text-top {
    width:  100%;
    transform: rotate(3.142rad);
    top:0%;
    left:50%;
    right: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height:700px;
    z-index:9;
}
#hidden-text-top::after {
    position: absolute;
    content: "";
    left:0px;
    top:0px;
    height:100%;
    width:100%;
    background: linear-gradient(#373C3F 75%, transparent)
}
#maintext{
    position: absolute;
    left: 50%;
    right:50%;
    top: 40%;
    bottom:auto;
    margin: auto;
    /* bottom:50%; */
    /* height: 100px; */
    transform: translate(-50%, -50%);
    /* transition: all 28ms linear; */
    text-align: center;
    flex-wrap: wrap;
    font-size: 20px;
    width: 1000px; 
    background-color: #373C3F;
    justify-content: center;
    align-items: center;
    transition: none;
}
#word {
    position: absolute;
    top: 15px;
    /* display: inline-block; */
    font-family: 'Courier New', Courier, monospace;
    color: #dad9d8;
    width:500;
    font-size: 23px;
    /* line-height: 1.5em; */

}
/* .word::after {
    content: '\A';
    white-space: pre;
} */
